// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Icons
@import '~/@fortawesome/fontawesome-free/scss/fontawesome';
@import '~/@fortawesome/fontawesome-free/scss/solid';

// Datatable
@import '~/datatables.net-bs5/css/dataTables.bootstrap5.min';

// Vue select
@import 'vue-select/dist/vue-select.css';

.card_size{
	width: 12rem;
}
body{
	background-color: rgb(255, 255, 255);
}
.tarjet {
	width: 100%;
	max-width: 300px;
	height: 450px;
}
.btn{
	border-radius: 4px;
}
.btn-group {
	display: flex;
	margin: 10px;
	align-items: center;
}
